@font-face {
  font-family: 'aaarghnormal';
  src: url("../fonts/Aaargh-webfont.eot");
  src: url("../fonts/Aaargh-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Aaargh-webfont.woff") format("woff"), url("../fonts/Aaargh-webfont.ttf") format("truetype"), url("../fonts/Aaargh-webfont.svg#aaarghnormal") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: 'aaarghnormal'; }

@media (min-width: 20em) {
  .container {
    font-size: 0.75em; } }
@media (min-width: 37.5em) {
  .container {
    font-size: 0.85em; } }
@media (min-width: 50em) {
  .container {
    font-size: 0.95em; } }
@media (min-width: 64.375em) {
  .container {
    font-size: 1em; } }

@media (min-width: 20em) {
  .container {
    padding-left: 5%;
    width: 80%; } }
@media (min-width: 37.5em) {
  .container {
    padding-left: 12.5%;
    width: 75%; } }
@media (min-width: 50em) {
  .container {
    padding-left: 25%;
    width: 50%; } }
@media (min-width: 64.375em) {
  .container {
    padding-left: 33.33333%;
    width: 33.33333%; } }